/* || universal properties */
* {
    font-family: Roboto, sans-serif;
    margin: 0;
}

/* || header */
#header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    flex: 1;
    padding: 10px 50px;
    align-items: center;
    gap: 33em;
}

/* || Home */
#home {
    height: 400px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 56px;
    align-items: center;
    gap: 30px;
}

/* || about */
#about {
    display: flex;
    height: 457px;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 60px;
}

/* || quote */
#quote {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 65px 300px;
}

/* || sign up */
#signup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 30px;
}

/* || footer */
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 29px;
}

/* classes  */

/* Class :: Home section */
.home-about {
    width: 450px;
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    gap: 10px;
}

.home-image {
    display: flex;
    max-width: 400px;
    height: 200px;
    border: 4px solid white;
    border-radius: 5px;
}

.logo {
    display: flex;
    width: 50px;
    height: 50px;
    flex: 0 0 30px;
}

/* class :: Information Section */
.info {
    margin: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 55px;
}

.info-item {
    display: flex;
    overflow: hidden;
    height: 150px;
    width: 150px;
    border: 3px solid #3882F8;
    border-radius: 8px;
    flex: none;
    padding: 2px;
}

.info-item > img {
    height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.info div {
    display: block;
    width: 150px;
}

.info-text {
    color: black;
    margin-top: 14px;
    text-align: center;
}

/* class :: quote */

.text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    flex: 1 0 0px;
}


#quote div {
    display: flex;
    gap: 14px;
    flex-flow: column wrap;
}

/* class :: Sign up */

.container {
    padding: 35px 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #3882F8;
    border-radius: 5px;
    gap: 120px;
}

/*  elements */
h1 {
    color: #F9FAF8;
    font-size: 48px;
    margin: 0;
}

h2 {
    font-size: 32px;
    text-align: center;
}

p {
    margin: 0;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 34px;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    flex: 1;
    font-size: 17px;
}

.button {
    width: 67px;
    height: 27px;
    background-color: #3882F8;
    color: #F9FAF8;
    border-radius: 6px;
}

.call-to-action {
    font-size: 17px;
    font-weight: bold;
}

.button.action {
    flex: none;
    border: 2px solid white;
    height: 28px;
    width: 80px;
}

.container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 9px;
}